package {{mainPackageName}}.dao

import org.springframework.stereotype.Service
import org.springframework.transaction.annotation.Transactional
import org.springframework.beans.factory.annotation.Autowired

import {{mainPackageName}}.entity.{{entityName}}
import {{mainPackageName}}.repository.{{entityName}}Repository

@Service
@Transactional
class {{entityName}}Dao implements GenericDao<{{entityName}}> {

    @Autowired
    {{entityName}}Repository {{camelRepositoryName}}

    List<{{entityName}}> findAll() {
        {{camelRepositoryName}}.findAll()
    }

    {{entityName}} findOne(Long id) {
        {{camelRepositoryName}}.findById(id).orElse(null)
    }

    {{entityName}} save({{entityName}} entity) {
        {{camelRepositoryName}}.save(entity)
    }

    void delete(Long id) {
        {{camelRepositoryName}}.deleteById(id)
    }

    void delete({{entityName}} entity) {
        {{camelRepositoryName}}.delete(entity)
    }

    void deleteAll(List<{{entityName}}> entityList) {
        {{camelRepositoryName}}.deleteAll()
    }

}
