package {{mainPackageName}}.entity;

import lombok.*;
import java.io.Serializable;
import javax.persistence.*;
import java.time.LocalDate;
import java.time.LocalDateTime;

@Entity
@Table(name = "{{tableName}}")
@Data
@RequiredArgsConstructor
@NoArgsConstructor
public class {{entityName}} implements Serializable {
    private static final long serialVersionUID = 1L;