package {{mainPackageName}}.entity;

import lombok.*;
import java.io.Serializable;
import javax.persistence.*;
import java.time.*;

@Entity
@Table(name = "{{tableName}}")
@Data
@AllArgsConstructor
@NoArgsConstructor
public class {{entityName}} implements Serializable {
    private static final long serialVersionUID = 1L;